body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

section {
  display: flex;
}

.dropzone {
  flex: 1;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropzone h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.dropzone div {
  min-height: 100px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 2px dashed #cccccc;
  border-radius: 5px;
}

.dropzone div div {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.dropzone div div:hover {
  background-color: #f2f2f2;
}

.dropzone button {
  display: block;
  margin: 0 auto;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}

.dropzone button {
  background-color: #45a049;
}

.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.menu a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.menu a:hover {
  color: #f1f1f1;
}

.menu-open {
  width: 250px;
}

.menu-closed {
  width: 0;
}

.content {
  transition: margin-left .5s;
  padding: 16px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
  padding: 5px;
  margin-bottom: 10px;
}

.openbtn:hover {
  background-color: #444;
}

#to-do {
  margin-left: 0;
}

.titolo {
  margin-bottom: 0;
}

.aggiungi {
  text-decoration: none;
}

.utente {
  background-color: #da8282;
}

table {
  flex: 1;
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

tr {
  text-align: left;
}

.inserisci {
  flex: 1;
  float: left;
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inserisciTask {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.inserisciTask-contenuto {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: inserisciTask-apri;
  animation-duration: 0.4s;
}

.chiudi {
  color: #6b6b6b;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.chiudi:hover,
.chiudi:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  margin-bottom: 15px;
  padding: 10px;
  width: calc(100% - 20px);
  border-radius: 5px;
  display: block;
  font-size: 16px;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fa-solid.fa-bell {
  color: #38d39f;
  margin-left: 10px; 
  font-size: 24px;
}

.notifiche {
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dettagliTask {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.dettagliTask-contenuto {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: inserisciTask-apri;
  animation-duration: 0.4s;
}

@keyframes inserisciTask-apri {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.utenti {
  display: flex;
  flex-direction: column;
}